* {
  margin: 0;
  letter-spacing: 1px;
}

html {
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
  background-color: #ececec;
}

.card .card-content, #leaderboard .content, #config .config-content {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 4px;
}

h2 {
  font-size: 26px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card .card-content {
  width: 215px;
}

.card .card-content p {
  text-align: center;
  font-size: 16px;
}

.card .card-content hr {
  margin: 5px;
  border-color: rgba(0, 0, 0, 0.05);
}

.card .card-content .col-headers, .card .card-content .player {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "input player team captain";
  -ms-grid-columns: 1fr 2fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2px;
          column-gap: 2px;
}

.card .card-content .col-headers label, .card .card-content .player label {
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-content .col-headers span:nth-child(1), .card .card-content .col-headers input.player-select, .card .card-content .player span:nth-child(1), .card .card-content .player input.player-select {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: input;
}

.card .card-content .col-headers span:nth-child(2), .card .card-content .col-headers label, .card .card-content .player span:nth-child(2), .card .card-content .player label {
  text-align: left;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: player;
}

.card .card-content .col-headers span:nth-child(3), .card .card-content .col-headers select, .card .card-content .player span:nth-child(3), .card .card-content .player select {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: team;
}

.card .card-content .col-headers span:nth-child(4), .card .card-content .col-headers input:not(.player-select), .card .card-content .player span:nth-child(4), .card .card-content .player input:not(.player-select) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: captain;
}

.card .card-content .player {
  margin: 15px 0px;
}

.card .card-content .player span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-content .reserve-player {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "input player";
  -ms-grid-columns: fit-content 1fr;
      grid-template-columns: -webkit-fit-content 1fr;
      grid-template-columns: fit-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.card .card-content .reserve-player label {
  font-size: 14px;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: player;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-content .reserve-player input.player-select {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: input;
}

#refresh {
  position: absolute;
  top: 25px;
  right: 50px;
  width: 150px;
  background-color: #4AAAE9;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  -webkit-box-shadow: 0px 3px 6px #8b8b8b;
          box-shadow: 0px 3px 6px #8b8b8b;
  cursor: pointer;
}

#leaderboard {
  position: absolute;
  top: 480px;
  left: 50px;
}

#leaderboard .content {
  padding: 5px;
  width: 745px;
  max-height: 285px;
  overflow: auto;
}

#leaderboard .content table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

#leaderboard .content table thead th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  width: 20%;
  font-size: 16px;
}

#leaderboard .content table td {
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#leaderboard .content table td:first-child {
  text-align: left;
}

#current-queue {
  position: absolute;
  top: 85px;
  left: 50px;
}

#current-queue .queue-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#current-queue .queue-content .card-content {
  height: 250px;
  width: 300px;
  border-radius: 4px 0px 0px 4px;
}

#current-queue .queue-content .card-content input {
  -ms-grid-column-align: center;
      justify-self: center;
}

#current-queue .queue-content #reserve-players {
  width: 190px;
  border-radius: 0px 4px 4px 0px;
}

#active-matches {
  position: absolute;
  top: 85px;
  left: 650px;
}

#active-matches .card-content {
  height: 250px;
}

#active-matches .matches-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#active-matches .card:not(:first-child) {
  margin: 0 10px;
}

#config {
  position: absolute;
  top: 480px;
  left: 900px;
}

#config .config-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#config .config-content {
  width: 380px;
}

#config .config-content label {
  font-size: 16px;
  margin-left: 5px;
}

#config .config-content input {
  width: 97%;
  padding: 5px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid black;
  margin-top: 3px;
}

#config .config-content button {
  width: 100%;
  background-color: #4AAAE9;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px;
  font-size: 16px;
}

#config .config-content div:not(:first-child) {
  margin: 30px 0;
}
/*# sourceMappingURL=styles.css.map */