* {
  margin: 0;
  letter-spacing: 1px;
}

html {
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
  background-color: #ececec;
}

$hr-color: rgba(0, 0, 0, 0.05);

%basic-container {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 4px;
}

h2 {
  font-size: 26px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card {
  
  .card-content {
    @extend %basic-container;
    width: 215px;

    p {
      text-align: center;
      font-size: 16px;
    }

    hr {
      margin: 5px;
      border-color: $hr-color;
    }

    .col-headers, .player {
      display: grid;
      grid-template-areas: "input player team captain";
      grid-template-columns: 1fr 2fr 2fr 2fr;
      align-items: center;
      column-gap: 2px;

      label {
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span:nth-child(1), input.player-select {
        grid-area: input;
      }
      span:nth-child(2), label {
        text-align: left;
        grid-area: player;
      }
      span:nth-child(3), select {
        grid-area: team;
      }
      span:nth-child(4), input:not(.player-select) {
        grid-area: captain;
      }
    }

    .player {
      margin: 15px 0px;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .reserve-player {
      display: grid;
      grid-template-areas: "input player";
      grid-template-columns: fit-content 1fr;
      align-items: center;
      column-gap: 5px;

      label {
        font-size: 14px;
        text-align: center;
        grid-area: player;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      input.player-select {
        grid-area: input;
      }
    }
  }
}

#refresh {
  position: absolute;
  top: 25px;
  right: 50px;
  width: 150px;
  background-color: #4AAAE9;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0px 3px 6px rgb(139, 139, 139);
  cursor: pointer;
}

#leaderboard {
  position: absolute;
  top: 480px;
  left: 50px;

  .content {
    @extend %basic-container;
    padding: 5px;
    width: 745px;
    max-height: 285px;
    overflow: auto;

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 10px;

      thead th {
        border-bottom: 1px solid $hr-color;
        width: 20%;
        font-size: 16px;
      }

      td {
        text-align: center;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      td:first-child {
        text-align: left;
      }
    }   
  }
}

#current-queue {
  position: absolute;
  top: 85px;
  left: 50px;

  .queue-content {
    display: flex;

    .card-content {
      height: 250px;
      width: 300px;
      border-radius: 4px 0px 0px 4px;

      input {
        justify-self: center;
      }
    }

    #reserve-players {
      width: 190px;
      border-radius: 0px 4px 4px 0px;
    }
  }
}

#active-matches {
  position: absolute;
  top: 85px;
  left: 650px;

  .card-content {
    height: 250px;
  }

  .matches-content {
    display: flex;
  }

  .card:not(:first-child) {
    margin: 0 10px;
  }
}

#config {
  position: absolute;
  top: 480px;
  left: 900px;

  .config-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .config-content {
    @extend %basic-container;
    width: 380px;
  
    label {
      font-size: 16px;
      margin-left: 5px;
    }
  
    input {
      width: 97%;
      padding: 5px;
      font-size: 12px;
      border-radius: 6px;
      border: 1px solid black;
      margin-top: 3px;
    }
  
    button {
      width: 100%;
      background-color: #4AAAE9;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 6px;
      font-size: 16px;
    }
  
    div:not(:first-child) {
      margin: 30px 0;
    }
  }
}