%grid-template {
  display: grid;
  grid-template-columns: 10em 8em 5em;
  column-gap: 1em;
  grid-template-areas: "name team captain";
  margin: 1em;
  align-items: center;
}

.listHeader {
  @extend %grid-template;
  text-align: center;

  span:nth-child(1) {
    grid-area: name;
  }
  span:nth-child(2) {
    grid-area: team;
  }
  span:nth-child(3) {
    grid-area: captain;
  }
}

.player {
  @extend %grid-template;

  .playerName {
    grid-area: name;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .teamSelect {
    grid-area: team;
    width: 100%;
    margin: auto;
  }

  .captainCheck {
    grid-area: captain;
    margin: auto;
  }
}
